@font-face {
    font-family: 'Gotham-book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-black';
    src: url('../fonts/GothamBlack.eot');
    src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBlack.woff2') format('woff2'),
        url('../fonts/GothamBlack.woff') format('woff'),
        url('../fonts/GothamBlack.ttf') format('truetype'),
        url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,
body{
  background-color: #000 !important;
  font-family: 'Gotham-book', sans-serif !important;
  color: #fff;
}
.view {
  height: 900px;
}

/*
.bg{
    background-image: url('https://1111filmeseconteudo.com.br/assets/poster-fecomercio-02-horiz_hd-compressor.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
}
*/

.text-slide{
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

.rgba-gradient {
    background: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.25s ease 0.25s;
    height: 100%;
}

svg {
    fill: currentColor;
}

img, svg {
    max-width: 100%;
}

section {
    display: block;
}

div {
    display: block;
}

h1, h2, h3, h4{
    margin: 1.414em 0 .5em;
    font-weight: inherit;
    line-height: 1.2;
    font-family: 'Gotham-black' !important;
}

p{
    font-family: 'Gotham-book' !important;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-family: 'Gotham-black' !important;
}

a:link{
    font-family: 'Gotham-black' !important;
    color:#fff !important;
}

a:visited{
    font-family: 'Gotham-black' !important;
    color:#fff !important;
}

a:hover{
    font-family: 'Gotham-black' !important;
    color:#fff !important;
}

a:active{
    font-family: 'Gotham-black' !important;
    color:#fff !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    font-family: 'Gotham-book', sans-serif !important;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    display: inline;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    border: none;
}

.bg-nav-cl {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.25s ease 0.25s;
}

.bg-nav-cl .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.name_menu{
    color: #ffffff !important;
    font-size: small;
    transition: opacity 0.125s ease 0.35s;
}

.navbar-cl {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.logo {
    min-width: 5rem !important;
    width: 7rem !important;
    animation: 0.5s ease 0s 1 normal both running fadeIn;
}

.logo a {
    display: block;
}

.menu-cl {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 2rem;
    letter-spacing: 0.15em;
    animation: 0.5s ease 0s 1 normal both running fadeIn;
}

.ul-cl {
    font-size: 0.85rem;
    display: flex;
}

.item-menu-cl {
    opacity: 1;
    transform: translate(0px, 1rem);
    animation: 0.25s ease 0s 1 normal both running irVdzj;
}

.item-menu-cl a {
    display: inline-block;
    font-weight: bold;
    transition: transform 0.125s ease 0s;
    margin-left: 20px;
}

.begin-cl{
    width: 100%;
    box-shadow: 0 0.0625rem 0 0 #222;
    min-height: 100vh;
    overflow: hidden;
    transition: filter 0.25s ease 0.25s;
}

.pictures-cl{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.quem_somos {
    position: relative;
    width: 100%;
    box-shadow: 0 0.0625rem 0 0 #222;
    min-height: 100vh;
    overflow: hidden;
    transition: filter 0.25s ease 0.25s;
}

.container-cl {
    min-height: 100vh;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;   
    /*color: #cacaca !important;*/
}

.container-video {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0px -2rem;
}

.video {
    position: relative;
    z-index: 15;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 758.81px;
    background-color: #222;
    overflow: hidden;
    animation: 2s ease 0s infinite normal both running klHEER;
}

.col-size-cl{
    max-width: 36rem;
    margin: 0px auto;
}

.session-wk-cl{
    position: relative;
    width: 100%;
    box-shadow: 0 0.0625rem 0 0 #222;
    overflow: hidden;
    transition: filter 0.25s ease 0.25s;
}

.works-cl{
    position: relative;
    display: flex;
    width: 100%;
}

.list-works-cl{
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    align-content: flex-start;
    width: 100%;
    list-style: none;
    margin: 0px 0.5rem;
    padding: 0px 0.5rem;
}

.wk-li-cl{
    cursor: pointer;
    position: relative;
    width: 100%;
    list-style: none;
}

.wk-v-cl{
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.wk-thumbnail-cl {
    display: block;
}

.wk-overlay-cl {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    padding: 1rem;
    transition: opacity 0.25s ease 0s;
}

.wk-title-cl {
    margin-bottom: 0.5rem;
}


/* Media */
@media (max-width: 740px) {
    .view {
      max-width: auto;
      height: 1000px;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .view {
      max-width: auto;
      height: 600px;
    }
}


#gallery-1 img {
    border: none !important;
    width: 370px !important;
    height: 207px !important;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

#gallery-1 .gallery-item {
    float: left;
    margin: 0 !important;
    width: 370px !important;
    height: 207px !important;
}
#gallery-1 .meio{
    opacity:0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.wp-caption-text{
    font-family: 'Gotham-book', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    text-align:center !important;
}

.t2-cl{
    font-family: 'Gotham-book', sans-serif !important;
    color: #ababab !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}

#gallery-1 .gallery-caption {
    padding: 20px 20px 20px 20px;
    line-height: 1.1em !important;
    margin-top: -41% !important;
    
}

#gallery-1 img:hover {
    opacity: 0.2;
}

#gallery-1 .meio:hover {
    opacity: 1;
}


